.tb-1-hd {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.tb-1-hd li {
    display: flex;
    color: #000;
    padding: 10%;
    text-decoration: none;
    align-items: center;
}
  
.tb-1-hd li:hover {
    background-color: #D3D3D3;
}

.tb-1-hd-icon {
    width: 25px;
    height: auto;
    padding-right: 20%;
}

.tb-1-col {
    width: 2%;
    margin-left: 15%;
    background-color: #f1f1f1;
    height: 100vh;
}

.tb-1-col:hover {
    background-color: #e1e1e1;
}

.tb-1-col-icon {
    width: 10px;
    height: auto;
}