.ticket-tb {
    width: 100%;
    height: 2%;
}

.ticket-tb-ul {
    list-style: none;
}

.ticket-tb-li {
    float: left;
    text-align: center;
    width: 15%;
    margin: 0px 1px;
    color: var(--primary-text);
    background-color: var(--main-tb);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ticket-tb-li:hover {
    color: var(--primary-text-hover);
    background-color: var(--tk-tb-hover);
}

.active {
    color: var(--primary-text-hover);
    background-color: var(--tk-tb-hover);
}