.bk-table {
    width: 83vw;
    border: 1px solid var(--primary-text);
}

.t-head {

}

.t-id {
    width: 10%;
}

.t-head {
    height: 10%;
}

.t-row {
    height: 10px;
    background-color: var(--main-table-odd);
    border: 1px solid var(--primary-border);
}

.t-row:nth-child(even) {
    background-color: var(--main-table-even);
}

.t-row:hover {
    background-color: var(--main-table-hover);
}