.bk-main {
    width: 100%;
    height: 100%;
}

.bk-table {
    width: 83vw;
    border-bottom: 1px solid var(--bk);

}

.t-id {
    width: 10%;
}

.t-head {
    height: 10%;
}

.t-row {
    height: 10px;
    background-color: var(--main-table-odd);
    border: 1px solid var(--primary-border);
}

.t-row:nth-child(even) {
    background-color: var(--main-table-even);
}

.t-row:hover {
    background-color: var(--main-table-hover);
}

.t-row td, .t-head td {
    color: var(--main-table-text)
}