:root {
    --main-tb: #F1F1F1;
    --main-tb-hover: #D3D3D3;
    --st-tb: #909090;
    --tk-tb: #F1F1F1;
    --tk-tb-hover: #888888;

    --main-table-odd: #F8F8F8;
    --main-table-even: #E8E8E8;
    --main-table-hover: #C8C8C8;

    --primary-text: #000000;
    --primary-text-hover: #FFFFFF;
    --primary-border: #000000;
}